<header class="header">
    <div>
        <a href="" class="header_logo">Nodejs</a>
    </div>
    <nav class="header_nav">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/contact">Contacts</a>
            </li>
        </ul>
    </nav>
    <div class="header_btn">
        <button class="searchbtn" aria-expanded="false">
            search
            <img src="/img/icons8-search.svg" alt="search" class="btn_img">
        </button>
    </div>
</header>